body{
    margin:0px;
}
.title-screen{
    background-image:url("background-lion.jpg");
    width:100%;
    height:375px;
    padding:0px;
    text-align: center;
    margin:0px;
 }

 .special-title{
   color:rgba(255,255,255,0.7);
   font-family: Quintessential;
   vertical-align:middle;
   padding:0px;
   margin:0px;
   font-size:145px;
 }

 .navigation{
    background-color: rgba(0, 0, 0, 0.788);
    padding-left: 20px;
    color:white;
 }

 .navigation .nav__item-link{
    padding: 2px 5px 5px 2px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    display:inline-block;
    
 }

 .navigation .nav__item-link:hover{
   padding: 2px 5px 2px 2px;
   font-family: 'Lato', sans-serif;
   font-weight: bold;
   display:inline-block;
   border-bottom: 1px solid white;
}

 .nav__item{
     padding:5px 10px;
     margin:5px;
     display:inline-block;
     text-align: right;
     width:90%;
 }

 .main-header > div{
    display: inline-block;
    vertical-align: middle;
}

 .nav__items{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    display:inline-block;
 }

 .nav__items-cta{
    font-family: 'Lato', sans-serif;
    color:black;
    padding:7px 7px 9px 7px;
    margin: 2px 2px 2px 2px;
    background-color: rgb(240, 240, 240);
    font-weight: bold;
    border-radius:5px;
 }

 .nav__items-cta:hover{
   font-family: 'Lato', sans-serif;
   color:white;
   padding:7px 7px 9px 7px;
   margin: 2px 2px 2px 2px;
   background-color: rgb(0, 0, 0);
   font-weight: bold;
   border-radius:5px;
}

 .title{
    text-align: center;
    font-family: Quintessential;
    font-size: 48px;
 }

.flexbox-grid{
   text-align: center;
   background-color: rgba(240, 240, 240, 0.74);
   display:flex;
   flex-direction: row;
   padding: 25px 0px 25px 92px;
   margin: 0px;
}

.subtitle{
   text-align: center;
   font-weight: bold;
   font-family: Quintessential;
   margin: 10px 90px 10px 90px;
}

.title-culto{
   font-family: Quintessential;
   text-align: center;
}

.text{
   text-align: center;
   font-family: 'Lato', sans;
   font-weight: bold;
}

.text-about-us{
   padding: 5px 80px 5px 90px;
   text-align: left;
   font-size: 36px;
   text-indent: justify;
   font-family:'Lato', sans-serif;
}

.nav__footer{
   background-color: black;
   color:white;
   padding: 5px 5px 5px 5px;
}

.nav__footer-item{
   text-align: center;
}

.fa {
   padding: 20px;
   font-size:30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   display:inline-block;
 }
 
 /* Add a hover effect if you want */
 .fa:hover {
   opacity: 0.7;
 }
 
 /* Set a specific color for each brand */
 
 /* Facebook */
 .fa-facebook {
   background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
   color: white;
   border-radius:3px;
 }

.fa-instagram {
   background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
   color: white;
   border-radius:3px;
}

